.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 95%, 0.812);
  margin: 0 100px 0 100px;
  height: 100vh;

  &__title {
    color: black;
  }

  &__form {
    margin-top: 50px;
  }

  &__format {
    margin: 80px;
  }
}
